<form method="post" id="login" action="/new">
  <label for="blocknb">Block ID:</label>
  <input type="text" id="blocknb" name="blocknb"><br>
  <select id="src" name="src">
    <option value="alice">Alice</option>
    <option value="bob">Bob</option>
    <option value="charlie">Charlie</option>
    <option value="dave">Dave</option>
    <option value="eve">Eve</option>
    <option value="fabio">Fabio</option>
    <option value="geralt">Geralt</option>
    <option value="hector">Hector</option>
    <option value="isidore">Isidore</option>
    <option value="juliet">Juliet</option>
    <option value="ted">Ted</option>
  </select> gives
  <input type="text" id="amount" name="amount">
  <label for="amount">coins to </label>
  <select id="dst" name="dst">
    <option value="alice">Alice</option>
    <option value="bob">Bob</option>
    <option value="charlie">Charlie</option>
    <option value="dave">Dave</option>
    <option value="eve">Eve</option>
    <option value="fabio">Fabio</option>
    <option value="geralt">Geralt</option>
    <option value="hector">Hector</option>
    <option value="isidore">Isidore</option>
    <option value="juliet">Juliet</option>
    <option value="ted">Ted</option>
  </select><br>
  <input type="hidden" id="author" name="author" value="{{author}}">
  <input type="hidden" id="uuid" name="uuid" value="{{uuid}}">
<input type="submit" value="Submit">
</form>
