<form method="post" id="login" action="/login">
<label for="team">Choose your team:</label>
<select id="team" name="team">
  <option value="alice">Alice</option>
  <option value="bob">Bob</option>
  <option value="charlie">Charlie</option>
  <option value="dave">Dave</option>
  <option value="eve">Eve</option>
  <option value="fabio">Fabio</option>
  <option value="geralt">Geralt</option>
  <option value="hector">Hector</option>
  <option value="isidore">Isidore</option>
  <option value="juliet">Juliet</option>
</select>
<input type="submit" value="Submit">
</form>
